@page "/"

<div class="card">
    <div class="card-body">
        <h1 class="card-title">BookStore - Blazor and API Application</h1>
        <p class="card-text">
            .NET 6 Book Store Web API consumed by Blazor Server and WASM Apps.
        </p>
    </div>
</div>
