@page "/"

<div class="card">
    <h1 class="card-title">BookStore - Blazor and API Application</h1>
    <p class="card-body">
        .NET 6 Book Store Web API consumed by Blazor Server and WASM Apps.
    </p>
</div>
